.app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  z-index: 10001;
}

.buttonStyle{
  padding : 10px 20px;
  font-size : 16px;
  background-color : #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
 
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  object-fit: contain;
  z-index: -1;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 71%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.40);
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(20.399999618530273px);
}
 
.title {
  font-size: 1.5rem;
  color: white;
  margin-top: -10px;
  padding-left: 30px;
}
 
.close-icon {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}
 
.close-icon > svg {
  font-size: 1.5rem;
  color: white;
  border: 1px solid grey;
  border-radius: 50%;
  background-color: #ccc;
  padding: 8px;
  height: 10px;
  width: 10px;
  border: none;
}
 
.subtitle {
  margin-top: -15px;
  padding-left: 30px;
  color: white;
}
 
.subtitle h2 {
  font-size: 1.5rem;
  color:white;
  margin: 0;
}
 
.button-row {
  display: flex;
  padding: 10px;
  margin-top: 1px;
  width: 330px;
  box-sizing: border-box;
  overflow-x: auto;
  justify-content: space-between;
}
 
.button {
  padding: 10px;
  height: 40px;
  background-color: grey;
  font-weight: bold;
  color: white;
  font-size: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  margin: 5px;
}
 
.button:hover {
  border-radius: 5px;
  border: 1px solid var(--card-stroke, rgba(255, 255, 255, 0.64));
  background: linear-gradient(100deg, #BABDFF 0%, #5A60FD 100%);
  box-shadow: 0px 8px 12px -4px rgba(33, 34, 253, 0.32);
}
 
.button.active {
  background: linear-gradient(100deg, #BABDFF 0%, #5A60FD 100%);
}

.sections-container {
  margin-top: -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 320px;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 5px;
}
 
.section-row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  box-sizing: border-box;
}
 
.section {
  width: calc(33.333% - 10px);
  height: auto;
  background-color:white;
  padding: 4px;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
 
.section img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 0px;
}
 
.section-content {
  top: 10px;
  font-size: 10px;
  font-weight: 600;
  margin-top: 2px;
  color:black;
}
 
.section:not(:nth-child(3n)) {
  margin-right: 10px;
}
 
@media (max-width: 900px) {
  .section {
      width: calc(33.333% - 10px);
  }
 
  .section-row {
      flex-wrap: nowrap;
  }
 
  .section {
      margin-bottom: 10px;
  }
}
 
@media (max-width: 800px) {
  .section {
      width: calc(33.333% - 10px);
  }
 
  .section-row {
      flex-wrap: nowrap;
  }
 
  .section {
      margin-bottom: 10px;
  }
}
 
@media (max-width: 600px) {
  .section {
      width: calc(33.333% - 10px);
  }
 
  .section-row {
      flex-wrap: nowrap;
  }
 
  .section {
      margin-bottom: 10px;
  }
}
 
.bottom-section {
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.40);
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(20.399999618530273px);
  width: 95%;
  height: 100px;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}
 
.close-icon-two {
  position: absolute;
  top: 1px;
  right: 1px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
}
 
.close-icon-two > svg {
  font-size: 1.5rem;
  color: white;
  border: 1px solid grey;
  border-radius: 50%;
  background-color:#ccc;
  padding: 8px;
  height: 10px;
  width: 10px;
  border: none;
}
 
.profile-picture {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}
 
.bottom-content {
  display: flex;
  align-items: center;
}
 
.bottom-content .text {
  margin-right: auto;
}
 
.bottom-content .text h4 {
  width: 70px;
  margin: 0;
  font-size: 25px;
  color:white;
}
 
.bottom-content .text p {
  width: 150px;
  margin: 0;
  font-size: 15px;
  color:white;
}
 
.go-button {
  width: 100px;
  height: 50px;
  background: linear-gradient(100deg, #BABDFF 0%, #5A60FD 100%);
  box-shadow: 0px 8px 12px -4px rgba(33, 34, 253, 0.32);
  color: white;
  padding-right: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}
 
.go-button:disabled {
  background: gray;
  cursor: not-allowed;
}
 
.landing-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 10001;
}
 
.content-wrapper {
  text-align: center;
  z-index: 10;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.40);
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(20.399999618530273px);
}
 
#head {
  font-weight: strong;
  margin-bottom: 20px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.landing-container strong {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
 
.subtitle {
  font-size: 1.4rem;
  margin-bottom: 30px;
  color:black;
}
 
.background-elements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
 
.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.6;
}
 
.circle1 {
  width: 300px;
  height: 300px;
  background-color: #ff9a9e;
  top: -50px;
  left: -50px;
}
 
.circle2 {
  width: 200px;
  height: 200px;
  background-color: #fad0c4;
  bottom: 50px;
  right: -30px;
}
 
.circle3 {
  width: 150px;
  height: 150px;
  background-color: #a18cd1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 
@media (max-width: 768px) {
  .landing-container h1 {
      font-size: 2.5rem;
  }
 
  .subtitle {
      font-size: 1.2rem;
  }
}

.logoDiv{
  border: 0px solid red;
  width: 100%;
  height: 100px;
  display : flex;
  justify-content: flex-end;
  place-items: center;
}

.randomwalkLogo{
  border: 0px solid blue;
  padding-right: 5%;
  padding-top: 6%;
}

.locationContainer{
  border: 1px solid red;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
}

.custom-ar-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border-color: rgba(109, 115, 253, 0.1);
  font-weight: bold;
  border-radius: 5px;
  background: linear-gradient(100deg, #BABDFF 0%, #5A60FD 100%);
  width: 300px;
  box-sizing: border-box;
}

.custom-ar-button:disabled {
  background: grey;
}

.current-user-location{
  border-color: rgba(109, 115, 253, 0.1);
  display: flex;
  place-items: center;
  justify-content: center;
  border-radius: 5px;
  background: linear-gradient(100deg, #FFFFFF 0%, #5A60FD 100%);
  font-weight: bold;
  color : white;
  height: 30px;
  padding-right: 30px;
  padding-left: 10px;
  box-sizing: border-box;
  width: auto;
}

.current-user-image{
  height: 30px;
  width: 30px;
  border: 0px solid red;
  margin-right: 10px;
}

.navigationCard {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, rgba(72, 61, 139, 1) 0%, rgba(123, 104, 238, 1) 100%);
  color: white;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1080px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.navigationInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.direction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.direction .fa-arrow-right {
  margin-bottom: 10px;
}

.department {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrival {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.distance {
  font-size: 24px;
  font-weight: bold;
}

.turn {
  font-size: 14px;
  margin-top: 5px;
}

.departmentName {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.arrivalTime {
  font-size: 14px;
  margin-top: 5px;
}

.Time {
  font-size: 18px;
  margin-top: 5px;
  font-weight: bold;
}

.navigationCard.destination-reached {
  width: 90%;
  max-width: 100%;
  background: linear-gradient(90deg, rgba(72, 61, 139, 1) 0%, rgba(123, 104, 238, 1) 100%);;
  color: white;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.status {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.userInfo {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profileImage {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.userDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userName {
  font-size: 16px;
  font-weight: bold;
}

.floor-map-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
}

.floor-map {
  transform: perspective(300px) rotateX(70deg) rotateY(-20deg);
  transform-style: preserve-3d;
}

.map-model-button{
  border: 1px solid red;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  background-color: white;
}

.map-close-icon{
  position: absolute;
  top: 1px;
  right: 1px;
  cursor: pointer;
  background-color: grey;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-top: 5%;
  margin-right: 5%;
  display: flex;
  place-items: center;
  justify-content: center;
}

.map-icon{
  height: 20px;
  width: 20px;
}

.map-container {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content:end;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.40);
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(20.399999618530273px);
}

.leftRight{
  z-index: 10001;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  place-items: center;
  flex-direction: column;
}

.close-icon-twos{
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: end;
  place-items: center;
  padding-right: 5%;
}

.close-icon-twos-close{
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  place-items: center;
  border-radius: 50%;
  margin-top: 5%;
  background-color: #cccccc;
}

.rotateArrowIcon{
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  place-items: center;
  border-radius: 50%;
  background-color: #cccccc;
}

.user-orientation{
  height: 80px;
  width: 80px;
  margin-bottom: 5%;
}

.position-model{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content:end;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.40);
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(20.399999618530273px);
}

.position-model-close{
  position: absolute;
  top : 10px;
  right : 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  place-items: center;
  padding: 5px;
  background-color: #cccccc;
}

.position-map-icon{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: gray;
  display: flex;
  justify-content: center;
  place-items: center;
}