.position-map-containers{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    background-color: white;
}

.locate-user {
    position: absolute;
    bottom: 11%; 
    right: 4%; 
    z-index: 10; 
    background-color: #cccccc; 
    padding: 5px;
    cursor: pointer; 
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    place-items: center;
    margin-right: 5px;
}